@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Yatra+One&display=swap')


*{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#c89c7d;
    color: rgba(0, 0, 0, 0.836);
    margin: auto;
    padding: 10px;
    max-width: 1300px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

li{
    display: inline-block;
    margin: 15px;
}

#title{

        font-family: "Patua One", serif;
        font-weight: 400;
        font-style: normal;
        line-height: 10px;
        color: rgb(0, 0, 0);
}
main{
    display: flex;
    margin-top: 50px;
}

#asd{
    font-family: "Patua One", serif;
}
h2{
    font-size: 30px;
    line-height: 10px;
}

article{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

img{
    width: 630px;
}

a{
    color: black;
    font-family: "Cinzel Decorative", serif;
}

a:hover{
    color:rgb(165, 42, 42) ;
    transition: 0.3 all;
}

#btn{
    border: 3px solid maroon;
    padding: 10px;
    border-radius: 15px;
}

#btn:hover{
    background-color: rgba(0, 128, 0, 0.425);
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

input{
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid rgba(0, 0, 0, 0.808);
}

#pq{
    height: 200px;
}

#enviar{
    background-color:white
}

#enviar:hover{
    background-color: rgba(0, 128, 0, 0.425);
    cursor: pointer;
}

aside > h2{
    font-size: 50px;
}

#das{
    font-size: 40px;

}

footer{
background-color: rgb(0, 128, 0);
width: 100%;
color: white;
text-align: center;
}





